### Author: Dr. Rami Al-Salman
### Email: alsalman.rami@gmail.com
### This notebook aims to walk you through ORM concepts and practically and programmtically you can connect and manuplicate database tables of pagila database.

In [3]:
#pip sqlalchemy psycopg2

# Simple ORM example to represent Actor object and interact with it

In [2]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

username = 'postgres'
password = 'root'
host = 'localhost'
database = 'pagila'
# Step 1: Define the connection string to your PostgreSQL database
DATABASE_URL = f"postgresql+psycopg2://{username}:{password}@{host}:5433/{database}"

# Step 2: Create an engine
engine = create_engine(DATABASE_URL)

# Step 3: Define a base class for declarative class definitions
Base = declarative_base()

# Step 4: Define the ORM model for the actor table
class Actor(Base):
    __tablename__ = 'actor'
    
    actor_id = Column(Integer, primary_key=True, autoincrement=True)
    first_name = Column(String, nullable=False)
    last_name = Column(String, nullable=False)

    def __repr__(self):
        return f"<Actor(actor_id={self.actor_id}, first_name={self.first_name}, last_name={self.last_name})>"

# Step 5: Create the tables in the database (if not already created)
#Base.metadata.create_all(engine)

# Step 6: Create a session
Session = sessionmaker(bind=engine)
session = Session()

# Step 7: Query the database (Example: Get all actors)
actors = session.query(Actor).all()
for actor in actors:
    print(actor)

# Step 8: Close the session
session.close()

<Actor(actor_id=1, first_name=PENELOPE, last_name=GUINESS)>
<Actor(actor_id=2, first_name=NICK, last_name=WAHLBERG)>
<Actor(actor_id=3, first_name=ED, last_name=CHASE)>
<Actor(actor_id=4, first_name=JENNIFER, last_name=DAVIS)>
<Actor(actor_id=5, first_name=JOHNNY, last_name=LOLLOBRIGIDA)>
<Actor(actor_id=6, first_name=BETTE, last_name=NICHOLSON)>
<Actor(actor_id=7, first_name=GRACE, last_name=MOSTEL)>
<Actor(actor_id=8, first_name=MATTHEW, last_name=JOHANSSON)>
<Actor(actor_id=9, first_name=JOE, last_name=SWANK)>
<Actor(actor_id=10, first_name=CHRISTIAN, last_name=GABLE)>
<Actor(actor_id=11, first_name=ZERO, last_name=CAGE)>
<Actor(actor_id=12, first_name=KARL, last_name=BERRY)>
<Actor(actor_id=13, first_name=UMA, last_name=WOOD)>
<Actor(actor_id=14, first_name=VIVIEN, last_name=BERGEN)>
<Actor(actor_id=15, first_name=CUBA, last_name=OLIVIER)>
<Actor(actor_id=16, first_name=FRED, last_name=COSTNER)>
<Actor(actor_id=17, first_name=HELEN, last_name=VOIGHT)>
<Actor(actor_id=18, first_name=DAN, last_name=TORN)>
<Actor(actor_id=19, first_name=BOB, last_name=FAWCETT)>
<Actor(actor_id=20, first_name=LUCILLE, last_name=TRACY)>
<Actor(actor_id=21, first_name=KIRSTEN, last_name=PALTROW)>
<Actor(actor_id=22, first_name=ELVIS, last_name=MARX)>
<Actor(actor_id=23, first_name=SANDRA, last_name=KILMER)>
<Actor(actor_id=24, first_name=CAMERON, last_name=STREEP)>
<Actor(actor_id=25, first_name=KEVIN, last_name=BLOOM)>
<Actor(actor_id=26, first_name=RIP, last_name=CRAWFORD)>
<Actor(actor_id=27, first_name=JULIA, last_name=MCQUEEN)>
<Actor(actor_id=28, first_name=WOODY, last_name=HOFFMAN)>
<Actor(actor_id=29, first_name=ALEC, last_name=WAYNE)>
<Actor(actor_id=30, first_name=SANDRA, last_name=PECK)>
<Actor(actor_id=31, first_name=SISSY, last_name=SOBIESKI)>
<Actor(actor_id=32, first_name=TIM, last_name=HACKMAN)>
<Actor(actor_id=33, first_name=MILLA, last_name=PECK)>
<Actor(actor_id=34, first_name=AUDREY, last_name=OLIVIER)>
<Actor(actor_id=35, first_name=JUDY, last_name=DEAN)>
<Actor(actor_id=36, first_name=BURT, last_name=DUKAKIS)>
<Actor(actor_id=37, first_name=VAL, last_name=BOLGER)>
<Actor(actor_id=38, first_name=TOM, last_name=MCKELLEN)>
<Actor(actor_id=39, first_name=GOLDIE, last_name=BRODY)>
<Actor(actor_id=40, first_name=JOHNNY, last_name=CAGE)>
<Actor(actor_id=41, first_name=JODIE, last_name=DEGENERES)>
<Actor(actor_id=42, first_name=TOM, last_name=MIRANDA)>
<Actor(actor_id=43, first_name=KIRK, last_name=JOVOVICH)>
<Actor(actor_id=44, first_name=NICK, last_name=STALLONE)>
<Actor(actor_id=45, first_name=REESE, last_name=KILMER)>
<Actor(actor_id=46, first_name=PARKER, last_name=GOLDBERG)>
<Actor(actor_id=47, first_name=JULIA, last_name=BARRYMORE)>
<Actor(actor_id=48, first_name=FRANCES, last_name=DAY-LEWIS)>
<Actor(actor_id=49, first_name=ANNE, last_name=CRONYN)>
<Actor(actor_id=50, first_name=NATALIE, last_name=HOPKINS)>
<Actor(actor_id=51, first_name=GARY, last_name=PHOENIX)>
<Actor(actor_id=52, first_name=CARMEN, last_name=HUNT)>
<Actor(actor_id=53, first_name=MENA, last_name=TEMPLE)>
<Actor(actor_id=54, first_name=PENELOPE, last_name=PINKETT)>
<Actor(actor_id=55, first_name=FAY, last_name=KILMER)>
<Actor(actor_id=56, first_name=DAN, last_name=HARRIS)>
<Actor(actor_id=57, first_name=JUDE, last_name=CRUISE)>
<Actor(actor_id=58, first_name=CHRISTIAN, last_name=AKROYD)>
<Actor(actor_id=59, first_name=DUSTIN, last_name=TAUTOU)>
<Actor(actor_id=60, first_name=HENRY, last_name=BERRY)>
<Actor(actor_id=61, first_name=CHRISTIAN, last_name=NEESON)>
<Actor(actor_id=62, first_name=JAYNE, last_name=NEESON)>
<Actor(actor_id=63, first_name=CAMERON, last_name=WRAY)>
<Actor(actor_id=64, first_name=RAY, last_name=JOHANSSON)>
<Actor(actor_id=65, first_name=ANGELA, last_name=HUDSON)>
<Actor(actor_id=66, first_name=MARY, last_name=TANDY)>
<Actor(actor_id=67, first_name=JESSICA, last_name=BAILEY)>
<Actor(actor_id=68, first_name=RIP, last_name=WINSLET)>
<Actor(actor_id=69, first_name=KENNETH, last_name=PALTROW)>
<Actor(actor_id=70, first_name=MICHELLE, last_name=MCCONAUGHEY)>
<Actor(actor_id=71, first_name=ADAM, last_name=GRANT)>
<Actor(actor_id=72, first_name=SEAN, last_name=WILLIAMS)>
<Actor(actor_id=73, first_name=GARY, last_name=PENN)>
<Actor(actor_id=74, first_name=MILLA, last_name=KEITEL)>
<Actor(actor_id=75, first_name=BURT, last_name=POSEY)>
<Actor(actor_id=76, first_name=ANGELINA, last_name=ASTAIRE)>
<Actor(actor_id=77, first_name=CARY, last_name=MCCONAUGHEY)>
<Actor(actor_id=78, first_name=GROUCHO, last_name=SINATRA)>
<Actor(actor_id=79, first_name=MAE, last_name=HOFFMAN)>
<Actor(actor_id=80, first_name=RALPH, last_name=CRUZ)>
<Actor(actor_id=81, first_name=SCARLETT, last_name=DAMON)>
<Actor(actor_id=82, first_name=WOODY, last_name=JOLIE)>
<Actor(actor_id=83, first_name=BEN, last_name=WILLIS)>
<Actor(actor_id=84, first_name=JAMES, last_name=PITT)>
<Actor(actor_id=85, first_name=MINNIE, last_name=ZELLWEGER)>
<Actor(actor_id=86, first_name=GREG, last_name=CHAPLIN)>
<Actor(actor_id=87, first_name=SPENCER, last_name=PECK)>
<Actor(actor_id=88, first_name=KENNETH, last_name=PESCI)>
<Actor(actor_id=89, first_name=CHARLIZE, last_name=DENCH)>
<Actor(actor_id=90, first_name=SEAN, last_name=GUINESS)>
<Actor(actor_id=91, first_name=CHRISTOPHER, last_name=BERRY)>
<Actor(actor_id=92, first_name=KIRSTEN, last_name=AKROYD)>
<Actor(actor_id=93, first_name=ELLEN, last_name=PRESLEY)>
<Actor(actor_id=94, first_name=KENNETH, last_name=TORN)>
<Actor(actor_id=95, first_name=DARYL, last_name=WAHLBERG)>
<Actor(actor_id=96, first_name=GENE, last_name=WILLIS)>
<Actor(actor_id=97, first_name=MEG, last_name=HAWKE)>
<Actor(actor_id=98, first_name=CHRIS, last_name=BRIDGES)>
<Actor(actor_id=99, first_name=JIM, last_name=MOSTEL)>
<Actor(actor_id=100, first_name=SPENCER, last_name=DEPP)>
<Actor(actor_id=101, first_name=SUSAN, last_name=DAVIS)>
<Actor(actor_id=102, first_name=WALTER, last_name=TORN)>
<Actor(actor_id=103, first_name=MATTHEW, last_name=LEIGH)>
<Actor(actor_id=104, first_name=PENELOPE, last_name=CRONYN)>
<Actor(actor_id=105, first_name=SIDNEY, last_name=CROWE)>
<Actor(actor_id=106, first_name=GROUCHO, last_name=DUNST)>
<Actor(actor_id=107, first_name=GINA, last_name=DEGENERES)>
<Actor(actor_id=108, first_name=WARREN, last_name=NOLTE)>
<Actor(actor_id=109, first_name=SYLVESTER, last_name=DERN)>
<Actor(actor_id=110, first_name=SUSAN, last_name=DAVIS)>
<Actor(actor_id=111, first_name=CAMERON, last_name=ZELLWEGER)>
<Actor(actor_id=112, first_name=RUSSELL, last_name=BACALL)>
<Actor(actor_id=113, first_name=MORGAN, last_name=HOPKINS)>
<Actor(actor_id=114, first_name=MORGAN, last_name=MCDORMAND)>
<Actor(actor_id=115, first_name=HARRISON, last_name=BALE)>
<Actor(actor_id=116, first_name=DAN, last_name=STREEP)>
<Actor(actor_id=117, first_name=RENEE, last_name=TRACY)>
<Actor(actor_id=118, first_name=CUBA, last_name=ALLEN)>
<Actor(actor_id=119, first_name=WARREN, last_name=JACKMAN)>
<Actor(actor_id=120, first_name=PENELOPE, last_name=MONROE)>
<Actor(actor_id=121, first_name=LIZA, last_name=BERGMAN)>
<Actor(actor_id=122, first_name=SALMA, last_name=NOLTE)>
<Actor(actor_id=123, first_name=JULIANNE, last_name=DENCH)>
<Actor(actor_id=124, first_name=SCARLETT, last_name=BENING)>
<Actor(actor_id=125, first_name=ALBERT, last_name=NOLTE)>
<Actor(actor_id=126, first_name=FRANCES, last_name=TOMEI)>
<Actor(actor_id=127, first_name=KEVIN, last_name=GARLAND)>
<Actor(actor_id=128, first_name=CATE, last_name=MCQUEEN)>
<Actor(actor_id=129, first_name=DARYL, last_name=CRAWFORD)>
<Actor(actor_id=130, first_name=GRETA, last_name=KEITEL)>
<Actor(actor_id=131, first_name=JANE, last_name=JACKMAN)>
<Actor(actor_id=132, first_name=ADAM, last_name=HOPPER)>
<Actor(actor_id=133, first_name=RICHARD, last_name=PENN)>
<Actor(actor_id=134, first_name=GENE, last_name=HOPKINS)>
<Actor(actor_id=135, first_name=RITA, last_name=REYNOLDS)>
<Actor(actor_id=136, first_name=ED, last_name=MANSFIELD)>
<Actor(actor_id=137, first_name=MORGAN, last_name=WILLIAMS)>
<Actor(actor_id=138, first_name=LUCILLE, last_name=DEE)>
<Actor(actor_id=139, first_name=EWAN, last_name=GOODING)>
<Actor(actor_id=140, first_name=WHOOPI, last_name=HURT)>
<Actor(actor_id=141, first_name=CATE, last_name=HARRIS)>
<Actor(actor_id=142, first_name=JADA, last_name=RYDER)>
<Actor(actor_id=143, first_name=RIVER, last_name=DEAN)>
<Actor(actor_id=144, first_name=ANGELA, last_name=WITHERSPOON)>
<Actor(actor_id=145, first_name=KIM, last_name=ALLEN)>
<Actor(actor_id=146, first_name=ALBERT, last_name=JOHANSSON)>
<Actor(actor_id=147, first_name=FAY, last_name=WINSLET)>
<Actor(actor_id=148, first_name=EMILY, last_name=DEE)>
<Actor(actor_id=149, first_name=RUSSELL, last_name=TEMPLE)>
<Actor(actor_id=150, first_name=JAYNE, last_name=NOLTE)>
<Actor(actor_id=151, first_name=GEOFFREY, last_name=HESTON)>
<Actor(actor_id=152, first_name=BEN, last_name=HARRIS)>
<Actor(actor_id=153, first_name=MINNIE, last_name=KILMER)>
<Actor(actor_id=154, first_name=MERYL, last_name=GIBSON)>
<Actor(actor_id=155, first_name=IAN, last_name=TANDY)>
<Actor(actor_id=156, first_name=FAY, last_name=WOOD)>
<Actor(actor_id=157, first_name=GRETA, last_name=MALDEN)>
<Actor(actor_id=158, first_name=VIVIEN, last_name=BASINGER)>
<Actor(actor_id=159, first_name=LAURA, last_name=BRODY)>
<Actor(actor_id=160, first_name=CHRIS, last_name=DEPP)>
<Actor(actor_id=161, first_name=HARVEY, last_name=HOPE)>
<Actor(actor_id=162, first_name=OPRAH, last_name=KILMER)>
<Actor(actor_id=163, first_name=CHRISTOPHER, last_name=WEST)>
<Actor(actor_id=164, first_name=HUMPHREY, last_name=WILLIS)>
<Actor(actor_id=165, first_name=AL, last_name=GARLAND)>
<Actor(actor_id=166, first_name=NICK, last_name=DEGENERES)>
<Actor(actor_id=167, first_name=LAURENCE, last_name=BULLOCK)>
<Actor(actor_id=168, first_name=WILL, last_name=WILSON)>
<Actor(actor_id=169, first_name=KENNETH, last_name=HOFFMAN)>
<Actor(actor_id=170, first_name=MENA, last_name=HOPPER)>
<Actor(actor_id=171, first_name=OLYMPIA, last_name=PFEIFFER)>
<Actor(actor_id=172, first_name=GROUCHO, last_name=WILLIAMS)>
<Actor(actor_id=173, first_name=ALAN, last_name=DREYFUSS)>
<Actor(actor_id=174, first_name=MICHAEL, last_name=BENING)>
<Actor(actor_id=175, first_name=WILLIAM, last_name=HACKMAN)>
<Actor(actor_id=176, first_name=JON, last_name=CHASE)>
<Actor(actor_id=177, first_name=GENE, last_name=MCKELLEN)>
<Actor(actor_id=178, first_name=LISA, last_name=MONROE)>
<Actor(actor_id=179, first_name=ED, last_name=GUINESS)>
<Actor(actor_id=180, first_name=JEFF, last_name=SILVERSTONE)>
<Actor(actor_id=181, first_name=MATTHEW, last_name=CARREY)>
<Actor(actor_id=182, first_name=DEBBIE, last_name=AKROYD)>
<Actor(actor_id=183, first_name=RUSSELL, last_name=CLOSE)>
<Actor(actor_id=184, first_name=HUMPHREY, last_name=GARLAND)>
<Actor(actor_id=185, first_name=MICHAEL, last_name=BOLGER)>
<Actor(actor_id=186, first_name=JULIA, last_name=ZELLWEGER)>
<Actor(actor_id=187, first_name=RENEE, last_name=BALL)>
<Actor(actor_id=188, first_name=ROCK, last_name=DUKAKIS)>
<Actor(actor_id=189, first_name=CUBA, last_name=BIRCH)>
<Actor(actor_id=190, first_name=AUDREY, last_name=BAILEY)>
<Actor(actor_id=191, first_name=GREGORY, last_name=GOODING)>
<Actor(actor_id=192, first_name=JOHN, last_name=SUVARI)>
<Actor(actor_id=193, first_name=BURT, last_name=TEMPLE)>
<Actor(actor_id=194, first_name=MERYL, last_name=ALLEN)>
<Actor(actor_id=195, first_name=JAYNE, last_name=SILVERSTONE)>
<Actor(actor_id=196, first_name=BELA, last_name=WALKEN)>
<Actor(actor_id=197, first_name=REESE, last_name=WEST)>
<Actor(actor_id=198, first_name=MARY, last_name=KEITEL)>
<Actor(actor_id=199, first_name=JULIA, last_name=FAWCETT)>
<Actor(actor_id=200, first_name=THORA, last_name=TEMPLE)>
<Actor(actor_id=202, first_name=Leonardo, last_name=DiCaprio)>
<Actor(actor_id=203, first_name=Leonardo, last_name=DiCaprio)>
<Actor(actor_id=204, first_name=Leonardo, last_name=DiCaprio)>
<Actor(actor_id=205, first_name=Leonardo, last_name=DiCaprio)>

/var/folders/c1/8mhcv8nx2b9dswvv8thjqxjc0000gn/T/ipykernel_17237/1475482560.py:16: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

## More advanced example with different tables relationships

In [12]:
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, sessionmaker

# Database connection string
username = 'postgres'
password = 'root'
host = 'localhost'
database = 'pagila'
# Step 1: Define the connection string to your PostgreSQL database
DATABASE_URL = f"postgresql+psycopg2://{username}:{password}@{host}:5433/{database}"

# Create an engine that connects to the PostgreSQL database
engine = create_engine(DATABASE_URL)

# Create a base class for ORM models to inherit from
Base = declarative_base()

# Define an association table for the many-to-many relationship between Film and Actor
film_actor = Table(
    'film_actor', Base.metadata,
    Column('actor_id', Integer, ForeignKey('actor.actor_id'), primary_key=True),
    Column('film_id', Integer, ForeignKey('film.film_id'), primary_key=True)
)

class Actor(Base):
    """
    ORM model for the 'actor' table. Represents an actor with first and last names.
    
    Attributes:
        actor_id (int): Primary key, unique identifier for the actor.
        first_name (str): The first name of the actor.
        last_name (str): The last name of the actor.
    """
    __tablename__ = 'actor'

    actor_id = Column(Integer, primary_key=True, autoincrement=True)
    first_name = Column(String, nullable=False)
    last_name = Column(String, nullable=False)

    # Relationship to films through the association table
    films = relationship('Film', secondary=film_actor, back_populates='actors')

    def __repr__(self):
        """Provides a clear string representation of the Actor object."""
        return f"<Actor(actor_id={self.actor_id}, first_name={self.first_name}, last_name={self.last_name})>"

class Film(Base):
    """
    ORM model for the 'film' table. Represents a film with a title, description, release year, and language.
    
    Attributes:
        film_id (int): Primary key, unique identifier for the film.
        title (str): The title of the film.
        description (str): The description of the film.
        release_year (int): The release year of the film.
        language_id (int): Foreign key linking to the 'language' table.
    """
    __tablename__ = 'film'

    film_id = Column(Integer, primary_key=True, autoincrement=True)
    title = Column(String, nullable=False)
    description = Column(String)
    release_year = Column(Integer)
    language_id = Column(Integer, ForeignKey('language.language_id'), nullable=False)

    # Relationship to actors through the association table
    actors = relationship('Actor', secondary=film_actor, back_populates='films')

    def __repr__(self):
        """Provides a clear string representation of the Film object."""
        return f"<Film(film_id={self.film_id}, title={self.title})>"

class Category(Base):
    """
    ORM model for the 'category' table. Represents a category for films (e.g., Action, Comedy).
    
    Attributes:
        category_id (int): Primary key, unique identifier for the category.
        name (str): The name of the category.
    """
    __tablename__ = 'category'

    category_id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String, nullable=False)

    # Relationship to films through the association table
    films = relationship('Film', secondary='film_category', back_populates='categories')

    def __repr__(self):
        """Provides a clear string representation of the Category object."""
        return f"<Category(category_id={self.category_id}, name={self.name})>"

class FilmCategory(Base):
    """
    Association table for the many-to-many relationship between films and categories.
    
    Attributes:
        film_id (int): Foreign key linking to the 'film' table.
        category_id (int): Foreign key linking to the 'category' table.
    """
    __tablename__ = 'film_category'

    film_id = Column(Integer, ForeignKey('film.film_id'), primary_key=True)
    category_id = Column(Integer, ForeignKey('category.category_id'), primary_key=True)



# Update the Film model to include the relationship with Category
Film.categories = relationship('Category', secondary='film_category', back_populates='films')

# Create all tables in the database (if they don't exist)
Base.metadata.create_all(engine)

# Create a session to interact with the database
Session = sessionmaker(bind=engine)
session = Session()

# Example Query: Find all films for a specific actor
actor = session.query(Actor).filter_by(first_name='JULIA').first()
print(f"Films featuring {actor.first_name} {actor.last_name}:")
for film in actor.films:
    print(f"- {film.title}")

# Example Query: Find all actors for a specific film
film = session.query(Film).filter_by(title='ACADEMY DINOSAUR').first()
print(f"Actors in the film {film.title}:")
for actor in film.actors:
    print(f"- {actor.first_name} {actor.last_name}")

# Example Query: Find all films in a specific category
category = session.query(Category).filter_by(name='Action').first()
print(f"Films in the {category.name} category:")
for film in category.films:
    print(f"- {film.title}")


# Close the session after completing the queries
session.close()

Films featuring JULIA MCQUEEN:
- AMADEUS HOLY
- ARABIA DOGMA
- BONNIE HOLOCAUST
- CIDER DESIRE
- CONEHEADS SMOOCHY
- EFFECT GLADIATOR
- FREDDY STORM
- GAMES BOWFINGER
- GLADIATOR WESTWARD
- HANOVER GALAXY
- HIGH ENCINO
- INSIDER ARIZONA
- JAWBREAKER BROOKLYN
- KISS GLORY
- KRAMER CHOCOLATE
- LUCKY FLYING
- MOCKINGBIRD HOLLYWOOD
- MONTEREY LABYRINTH
- OPEN AFRICAN
- PILOT HOOSIERS
- PITTSBURGH HUNCHBACK
- PRESIDENT BANG
- SCORPION APOLLO
- SLEEPLESS MONSOON
- SPIRIT FLINTSTONES
- STRANGERS GRAFFITI
- SWEETHEARTS SUSPECTS
- TELEMARK HEARTBREAKERS
- TIES HUNGER
- TRAIN BUNCH
- WEEKEND PERSONAL
- WONKA SEA
- YOUNG LANGUAGE
Actors in the film ACADEMY DINOSAUR:
- PENELOPE GUINESS
- CHRISTIAN GABLE
- LUCILLE TRACY
- SANDRA PECK
- JOHNNY CAGE
- MENA TEMPLE
- WARREN NOLTE
- OPRAH KILMER
- ROCK DUKAKIS
- MARY KEITEL
Films in the Action category:
- AMADEUS HOLY
- AMERICAN CIRCUS
- ANTITRUST TOMATOES
- ARK RIDGEMONT
- BAREFOOT MANCHURIAN
- BERETS AGENT
- BRIDE INTRIGUE
- BULL SHAWSHANK
- CADDYSHACK JEDI
- CAMPUS REMEMBER
- CASUALTIES ENCINO
- CELEBRITY HORN
- CLUELESS BUCKET
- CROW GREASE
- DANCES NONE
- DARKO DORADO
- DARN FORRESTER
- DEVIL DESIRE
- DRAGON SQUAD
- DREAM PICKUP
- DRIFTER COMMANDMENTS
- EASY GLADIATOR
- ENTRAPMENT SATISFACTION
- EXCITEMENT EVE
- FANTASY TROOPERS
- FIREHOUSE VIETNAM
- FOOL MOCKINGBIRD
- FORREST SONS
- GLASS DYING
- GOSFORD DONNIE
- GRAIL FRANKENSTEIN
- HANDICAP BOONDOCK
- HILLS NEIGHBORS
- KISSING DOLLS
- LAWRENCE LOVE
- LORD ARIZONA
- LUST LOCK
- MAGNOLIA FORRESTER
- MIDNIGHT WESTWARD
- MINDS TRUMAN
- MOCKINGBIRD HOLLYWOOD
- MONTEZUMA COMMAND
- PARK CITIZEN
- PATRIOT ROMAN
- PRIMARY GLASS
- QUEST MUSSOLINI
- REAR TRADING
- RINGS HEARTBREAKERS
- RUGRATS SHAKESPEARE
- SHRUNK DIVINE
- SIDE ARK
- SKY MIRACLE
- SOUTH WAIT
- SPEAKEASY DATE
- STAGECOACH ARMAGEDDON
- STORY SIDE
- SUSPECTS QUILLS
- TRIP NEWTON
- TRUMAN CRAZY
- UPRISING UPTOWN
- WATERFRONT DELIVERANCE
- WEREWOLF LOLA
- WOMEN DORADO
- WORST BANGER

/var/folders/c1/8mhcv8nx2b9dswvv8thjqxjc0000gn/T/ipykernel_14973/3690622991.py:17: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

## More advanced example with different tables relationships and applying insert and update operations

In [19]:
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, sessionmaker

# Database connection string
username = 'postgres'
password = 'root'
host = 'localhost'
database = 'pagila'
# Step 1: Define the connection string to your PostgreSQL database
DATABASE_URL = f"postgresql+psycopg2://{username}:{password}@{host}:5433/{database}"

# Create an engine that connects to the PostgreSQL database
engine = create_engine(DATABASE_URL)

# Create a base class for ORM models to inherit from
Base = declarative_base()

# Association table for the many-to-many relationship between Film and Actor
film_actor = Table(
    'film_actor', Base.metadata,
    Column('actor_id', Integer, ForeignKey('actor.actor_id'), primary_key=True),
    Column('film_id', Integer, ForeignKey('film.film_id'), primary_key=True)
)

class Actor(Base):
    """
    ORM model representing an actor in the database.
    
    Relationships:
    - `films`: Many-to-many relationship with the `Film` model through the `film_actor` association table.

    Attributes:
        actor_id (int): Primary key, unique identifier for the actor.
        first_name (str): The first name of the actor.
        last_name (str): The last name of the actor.
    """
    __tablename__ = 'actor'

    actor_id = Column(Integer, primary_key=True, autoincrement=True)
    first_name = Column(String, nullable=False)
    last_name = Column(String, nullable=False)

    # Many-to-many relationship with Film
    films = relationship('Film', secondary=film_actor, back_populates='actors')

    def __repr__(self):
        return f"<Actor(actor_id={self.actor_id}, first_name={self.first_name}, last_name={self.last_name})>"

class Language(Base):
    """
    ORM model representing a language in the database.
    
    Relationships:
    - `films`: One-to-many relationship with the `Film` model.

    Attributes:
        language_id (int): Primary key, unique identifier for the language.
        name (str): The name of the language (e.g., 'English').
    """
    __tablename__ = 'language'

    language_id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String, nullable=False)

    # One-to-many relationship with Film
    films = relationship('Film', back_populates='language')

    def __repr__(self):
        return f"<Language(language_id={self.language_id}, name={self.name})>"

class Film(Base):
    """
    ORM model representing a film in the database.
    
    Relationships:
    - `actors`: Many-to-many relationship with the `Actor` model through the `film_actor` association table.
    - `reviews`: One-to-many relationship with the `Review` model.
    - `language`: Many-to-one relationship with the `Language` model.

    Attributes:
        film_id (int): Primary key, unique identifier for the film.
        title (str): The title of the film.
        description (str): A brief description of the film.
        language_id (int): Foreign key referencing the `Language` model.
    """
    __tablename__ = 'film'

    film_id = Column(Integer, primary_key=True, autoincrement=True)
    title = Column(String, nullable=False)
    description = Column(String)
    language_id = Column(Integer, ForeignKey('language.language_id'), nullable=False)

    # Many-to-many relationship with Actor
    actors = relationship('Actor', secondary=film_actor, back_populates='films')
    
    # One-to-many relationship with Review
    reviews = relationship('Review', back_populates='film')
    
    # Many-to-one relationship with Language
    language = relationship('Language', back_populates='films')

    def __repr__(self):
        return f"<Film(film_id={self.film_id}, title={self.title})>"

class Review(Base):
    """
    ORM model representing a review for a film in the database.
    
    Relationships:
    - `film`: Many-to-one relationship with the `Film` model.

    Attributes:
        review_id (int): Primary key, unique identifier for the review.
        content (str): The content of the review.
        rating (int): The rating of the film.
        film_id (int): Foreign key referencing the `Film` model.
    """
    __tablename__ = 'review'

    review_id = Column(Integer, primary_key=True, autoincrement=True)
    content = Column(String, nullable=False)
    rating = Column(Integer, nullable=False)
    film_id = Column(Integer, ForeignKey('film.film_id'), nullable=False)

    # Many-to-one relationship with Film
    film = relationship('Film', back_populates='reviews')

    def __repr__(self):
        return f"<Review(review_id={self.review_id}, rating={self.rating}, film_id={self.film_id})>"

# Create all tables in the database (if they don't exist)
Base.metadata.create_all(engine)

# Create a session to interact with the database
Session = sessionmaker(bind=engine)
session = Session()

# Example: Add a new film with a language
# Assume the language ID for English is 1
english = session.query(Language).filter_by(name='English').first()

new_film = Film(title='Inception', description='A mind-bending thriller', language_id=english.language_id)
new_actor = Actor(first_name='Leonardo', last_name='DiCaprio')
new_film.actors.append(new_actor)

#new_review1 = Review(content='Amazing movie with stunning visuals!', rating=9, film=new_film)
#new_review2 = Review(content='Complex and intriguing storyline.', rating=8, film=new_film)

session.add(new_film)
session.commit()

# Selecting Results (Querying the database)
print("Films featuring Leonardo DiCaprio:")
leo = session.query(Actor).filter_by(first_name='Leonardo', last_name='DiCaprio').first()
for film in leo.films:
    print(f"- {film.title} ({film.description})")
    for review in film.reviews:
        print(f"  Review: {review.content} (Rating: {review.rating})")

# Updating a Row (Modify review rating)
review_to_update = session.query(Review).filter_by(content='Complex and intriguing storyline.').first()
review_to_update.rating = 10  # Change rating to 10
session.commit()

print("\nUpdated Reviews:")
for review in session.query(Review).all():
    print(f"- {review.content} (Rating: {review.rating})")

# Close the session after completing the queries
session.close()

Films featuring Leonardo DiCaprio:
- Inception (A mind-bending thriller)
  Review: Amazing movie with stunning visuals! (Rating: 9)
  Review: Complex and intriguing storyline. (Rating: 10)

Updated Reviews:
- Amazing movie with stunning visuals! (Rating: 9)
- Complex and intriguing storyline. (Rating: 10)
- Amazing movie with stunning visuals! (Rating: 9)
- Complex and intriguing storyline. (Rating: 8)
- Amazing movie with stunning visuals! (Rating: 9)
- Complex and intriguing storyline. (Rating: 8)

/var/folders/c1/8mhcv8nx2b9dswvv8thjqxjc0000gn/T/ipykernel_14973/300193988.py:17: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()